body {
    font-family: Arial, sans-serif;
    
}



.container {
    width: 500px;
    margin: auto;
    margin-top: 50px;
   border-radius: 5px;
   padding: 60px;
}

form {
    display: grid;
    gap: 10px;
    margin-top: 2rem;
}

label {
    font-weight: bold;
}

input[type=text] {
border: none;
border-bottom: 2px solid #7ab8bf;;
background-color:  #7ab8bf;
}


input[type=email]{
    border: none;
    border-bottom: 2px solid #7ab8bf;;
    background-color:  #7ab8bf;
}

input[placeholder]{
    color: black;
}

input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #7ab8bf;
    background-color:  #7ab8bf;
}

button {
    padding: 20px;
    background-color: #f5f8f5;
    color: rgb(10, 9, 9);
    border: none;
    cursor: pointer;
    margin: 0.8rem;
}

button:hover {
    border-radius: 5px ;
    background-color: #a67458;
}
